{% from "itemList.html" import itemList %}

{% extends "layout.html" %}
{% block title %}Ti-Di Ipp{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Ti-Di Ipp</h1>
    <p class="lead">Like To-Do App, but with an I.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <form action="{{url_for('add_item')}}" method="post">
        <div class="d-flex my-4">
          <input class="form-control" id="title" name="title" placeholder="New item" aria-label="New item title" required/>
          <button class="btn btn-primary ml-2" type="submit" aria-label="Add item"><i class="fa fa-plus"></i></button>
        </div>
      </form>
      <h3>Not started</h3>
      {{ itemList(view_model.not_started_items) }}
      <h3>In progress</h3>
      {{ itemList(view_model.in_progress_items) }}
      <h3>Completed</h3>
      {% if view_model.show_all_completed_items %}
        {{ itemList(view_model.completed_items) }}
      {% else %}
        <h4>Recently</h4>
        {{ itemList(view_model.recently_completed_items) }}
        <button 
          class="btn btn-primary mb-3"
          type="button"
          data-toggle="collapse"
          data-target="#older-completed-items-collapse"
          aria-expanded="false"
          aria-controls="older-completed-items-collapse"
        >
          Toggle show older
        </button>
        <div class="collapse mb-3" id="older-completed-items-collapse">
          <h4>Older</h4>
          {{ itemList(view_model.older_completed_items) }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}