{% macro itemList(items) %}
<ul class="list-group mb-4">
    {% for item in items %}
        {{ notStartedItem(item) if item.status == "Not Started" else inProgressItem(item) if item.status == "In Progress" else completedItem(item) }}
    {% endfor %}
</ul>
{% endmacro %}

{% macro notStartedItem(item) %}
<li class="list-group-item list-group-item-warning">
  <div class="d-flex w-100">
    <div class="mr-auto text-break overflow-hidden">{{item.title}}</div>

    {{ startItemButton(item) }}
    
    {{ deleteItemButton(item) }}
    
  </div>
</li>
{% endmacro %}

{% macro inProgressItem(item) %}
<li class="list-group-item list-group-item-primary">
  <div class="d-flex w-100">
    <div class="mr-auto text-break overflow-hidden">{{item.title}}</div>

    {{ markItemCompletedButton(item) }}
    
    {{ deleteItemButton(item) }}
    
  </div>
</li>
{% endmacro %}

{% macro completedItem(item) %}
<li class="list-group-item list-group-item-success">
  <div class="d-flex w-100">
    <div class="mr-auto text-break overflow-hidden">{{item.title}}</div>
    
    {{ deleteItemButton(item) }}
  </div>
</li>
{% endmacro %}

{% macro startItemButton(item) %}
<div class="mr-2">
    <form method="post" action="{{url_for('start_item', id=item.id)}}">
        <button type="submit" class="btn btn-primary" aria-label={{"Start " + item.title}}>
            <i class="fa fa-play fa-fw fa-sm"></i>
        </button>
    </form>
</div>
{% endmacro %}


{% macro markItemCompletedButton(item) %}
<div class="mr-2">
    <form method="post" action="{{url_for('mark_completed', id=item.id)}}">
        <button type="submit" class="btn btn-success" aria-label={{"Mark " + item.title + " as completed"}}>
            <i class="fa fa-check fa-fw fa-sm"></i>
        </button>
    </form>
</div>
{% endmacro %}

{% macro deleteItemButton(item) %}
<div>
  <form method="post" action="{{url_for('delete', id=item.id)}}">
    <button type="submit" class="btn btn-danger" aria-label={{"Delete " + item.title}}>
      <i class="fas fa-trash-alt fa-fw fa-sm"></i>
    </button>
  </form>
</div>
{% endmacro %}